# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
*.egg
dist/
build/

# Installer logs
env.bak/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# FastAPI
instance/
*.sqlite3

# Alembic
migrations/versions/*

# Docker
*.env.docker
Dockerfile*
.dockerignore
**/docker-compose*.yaml
**/docker-compose*.yml
**/docker-compose*.env

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars

# Kubernetes / KinD
*.kubeconfig
.kube/
kind.yaml

# Environment variables files
.env
*.env

# Python virtual environments
venv/
.env/

# IDE and Editor files
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Logs and local development files
*.log
logs/
local/

# MacOS
.DS_Store

# Python egg cache
.eggs/

# Lockfiles
poetry.lock
Pipfile.lock

# PEP 582
__pypackages__/

# Pyre type checker
.pyre/

# mypy
typings/

# Pytest
.cache

# Pyright
.pyright/

# Dependencies
**/requirements.txt
**/Pipfile
**/poetry.lock
**/pyproject.toml

# Cache
*.cache/

# Terraform Plan files
*.tfplan

# Kubernetes output
*.yaml.deployed
